.Tennis {
  background-color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin-bottom: 10px;
}

.canvas {
  /* border-radius: 8px; */
}
